body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #F19776, #FF7777);
    cursor: url('/scr/styles/cursor.png'),auto; 
}

header, footer {
    background: linear-gradient(to left, #845241, #8c4342);
    padding: 10px;
    text-align: center;
}

.header-txt {
    font-size: 4.2rem;
    color: #FFD79E;
    padding: 0;
    margin: 0;
    text-align: center;
    -webkit-text-stroke: 1px #C4D3DD;
}

.footer-txt {
    color: #FFD79E;
    padding: 10px;
    text-align: center;
    text-shadow: 5px #C4D3DD;
}

.main-container {
    justify-content: space-between 20px; /* Space between the items */
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
}

.login-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    margin: 5px 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
}

.login-container button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#clickable-div {
    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
}

#clickable-div img {
    padding-top: 20px;
    padding-left: 20px;
    position: absolute;
    display: block; /* Ensure the image is displayed */
    width: 250px; /* Set the width of the image */
    height: 150px; /* Set the height of the image */
}